@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
}

.header {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 4.25vw;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  margin-right: 2.5vw;
}

.burger span {
  position: relative;
  display: inline-block;
  width: 1.125vw;
  height: 0.125vw;
  border-radius: 0.1875vw;
  background-color: #ffffff;
}

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-0.3125vw);
          transform: translateY(-0.3125vw);
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.burger span::after {
  -webkit-transform: translateY(0.3125vw);
          transform: translateY(0.3125vw);
}

.logo {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 2.92969vh;
  color: #ffffff;
  margin-right: 7.1875vw;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.125vw;
}

.search svg {
  width: 1.125vw;
}

.search input {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  margin-left: 1.625vw;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-right: 2.125vw;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.44141vh;
  text-decoration: none;
  color: #ffffff;
}

.call {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.44141vh;
  margin-left: 12.1875vw;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 2.66667vmin;
  }
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .nav,
  .header .call {
    display: none;
  }
  .header .burger span {
    width: 4.8vmin;
    height: 0.53333vmin;
    min-width: 18px;
    min-height: 2px;
    border-radius: 0.8vmin;
  }
  .header .burger span::before, .header .burger span::after {
    -webkit-transform: translateY(-1.33333vmin);
            transform: translateY(-1.33333vmin);
  }
  .header .burger span::after {
    -webkit-transform: translateY(1.33333vmin);
            transform: translateY(1.33333vmin);
  }
  .header .logo {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 5.33333vmin;
    line-height: 8vmin;
    margin-right: 0;
  }
  .header .search {
    display: none;
  }
}

.hero {
  background: url("../img/herobg.png") no-repeat;
  background-size: cover;
  background-position: center -8.6875vw;
  height: 100vh;
  position: relative;
}

.hero__content {
  padding-top: 21.48438vh;
  max-width: 43.75vw;
  margin: 0 auto;
  text-align: center;
}

.hero__link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.95312vh;
  color: #ffffff;
  text-decoration: none;
  background-color: #e62e7b;
  border-radius: 2.92969vh;
  padding: 0.3125vw 1vw;
}

.hero__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 8.78906vh;
  margin: 6.54297vh 0 6.64062vh;
  color: #ffffff;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 15.625vh;
}

.hero-list__item {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  margin-right: 1.46484vh;
  color: #ffffff;
  position: relative;
}

.hero-list__item::after {
  content: "x";
  position: absolute;
  right: -1.07422vh;
}

.hero-list__item:last-child::after {
  display: none;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.hero-info__item {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #ffffff;
  margin-right: 6.15234vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-info__item:last-child {
  margin-right: 0;
}

.hero-info__item img {
  margin-right: 2.5vw;
  width: 1.66016vh;
}

.hero__anchor {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #4d5e80;
  padding: 1.46484vh 2.92969vh;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.97656vh 2.92969vh rgba(54, 61, 77, 0.25);
          box-shadow: 0px 0.97656vh 2.92969vh rgba(54, 61, 77, 0.25);
  border-radius: 2.92969vh;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .hero__content {
    padding-top: 29.33333vmin;
    max-width: 100%;
  }
  .hero__anchor {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    padding: 4vmin 8vmin;
    -webkit-box-shadow: 0px 2.66667vmin 8vmin rgba(54, 61, 77, 0.25);
            box-shadow: 0px 2.66667vmin 8vmin rgba(54, 61, 77, 0.25);
    border-radius: 8vmin;
  }
  .hero__link {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    font-size: 3.2vmin;
    line-height: 1.5;
    border-radius: 8vmin;
    padding: 1.33333vmin 4.26667vmin;
  }
  .hero__title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 11.2vmin;
    line-height: 1.5;
    margin: 17.86667vmin 0 18.13333vmin;
  }
  .hero-list {
    margin-bottom: 42.66667vmin;
  }
  .hero-list__item {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    margin-right: 4vmin;
  }
  .hero-list__item::after {
    right: -2.93333vmin;
  }
  .hero-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-info__item {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
    margin-bottom: 5.33333vmin;
  }
  .hero-info__item img {
    margin-right: 5.33333vmin;
    width: 4.53333vmin;
  }
}

.about {
  color: #4d5e80;
  padding-top: 9.27734vh;
}

.about__container {
  text-align: center;
}

.about .row {
  margin: -0.9375vw;
}

.about-item {
  margin: 0.9375vw;
  background: #ffffff;
  padding: 3.75vw 3.375vw 2.375vw 3.375vw;
  border-radius: 0.625vw;
  -webkit-box-shadow: 0 0.125vw 0.3125vw rgba(54, 61, 77, 0.03);
          box-shadow: 0 0.125vw 0.3125vw rgba(54, 61, 77, 0.03);
}

.about__card-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2.44141vh;
  color: #7d8fb3;
  text-align: center;
}

.about__card-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2.92969vh;
  text-align: center;
}

.service {
  padding: 7.8125vw;
}

.service__row {
  position: relative;
  margin-bottom: 7.8125vw;
}

.service__row:last-child {
  margin-bottom: 0;
}

.service__row .bg-text {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  right: 0;
}

.service-item.service-item__image {
  position: relative;
  padding: 3.125vw;
  min-height: 21.875vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-item.service-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 21.875vw;
  z-index: -1;
  border-radius: 0.625vw;
}

.service-item.service-item__image .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875vw;
  width: 3.75vw;
  height: 3.75vw;
  background-color: #e62e7b;
  -webkit-box-shadow: 0 0.625vw 1.875vw #e62e7b;
          box-shadow: 0 0.625vw 1.875vw #e62e7b;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-item.service-item__image .play svg,
.service-item.service-item__image .play svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-item.service-item__image .play:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 0.625vw 1.875vw #ffffff;
          box-shadow: 0 0.625vw 1.875vw #ffffff;
}

.service-item.service-item__image .play:hover svg path {
  fill: #e62e7b;
}

.service-item.service-item__image .play:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.service-item.service-item__image .service-item__subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.875vw;
  color: #ffffff;
}

.service-item {
  padding: 0 7.8125vw;
}

.service-item__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 3.75vw;
  color: #4d5e80;
}

.service-item__link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #6b7a99;
}

.service-item__link svg {
  margin-left: 3.4375vw;
}

.service .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 3.125vw;
  right: 3.125vw;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.875vw;
  width: 3.75vw;
  height: 3.75vw;
  cursor: pointer;
}

.service .next svg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service .next:hover svg {
  -webkit-transform: translateX(0.3125vw);
          transform: translateX(0.3125vw);
}

.service .container {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .service__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service-item.service-item__image {
    padding: 13.33333vmin;
    min-height: 93.33333vmin;
  }
  .service-item.service-item__image img {
    height: 93.33333vmin;
    border-radius: 2.66667vmin;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-item.service-item__image .play {
    border-radius: 8vmin;
    width: 16vmin;
    height: 16vmin;
    -webkit-box-shadow: 0 2.66667vmin 8vmin;
            box-shadow: 0 2.66667vmin 8vmin;
  }
  .service-item.service-item__image .play:hover {
    -webkit-box-shadow: 0 2.66667vmin 8vmin;
            box-shadow: 0 2.66667vmin 8vmin;
  }
  .service .next {
    bottom: 13.33333vmin;
    right: 13.33333vmin;
    border-radius: 8vmin;
    width: 16vmin;
    height: 16vmin;
  }
}

.catalog {
  text-align: center;
  padding: 7.8125vw 0;
}

.catalog-item {
  position: relative;
  background-color: #ffffff;
  padding: 2vw 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-item__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
}

.catalog-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75vw;
  border: 0.1875vw solid #f5f6f7;
}

.catalog-item__icon {
  position: absolute;
  right: 1.625vw;
  top: 1.625vw;
  cursor: pointer;
}

.catalog-item__rating {
  width: 33.33%;
}

.catalog-item__rating span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
}

.catalog-item__price {
  margin-top: -0.125vw;
  margin-bottom: -0.15625vw;
  width: 33.33%;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 0.1875vw solid #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-item__buy {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  position: relative;
  color: #e62e7b;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 33.33%;
  z-index: 1;
  overflow: hidden;
}

.catalog-item__buy::before {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 0;
  background-color: #e62e7b;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.catalog-item__buy:hover {
  color: #ffffff;
}

.catalog-item__buy:hover::before {
  right: 0;
}

.location {
  padding-bottom: 7.5vw;
}

.location ul {
  list-style-type: none;
}

.location__top {
  text-align: center;
}

.location__map {
  position: relative;
}

.location__map .map {
  height: 33.75vw;
}

.location-modal {
  position: absolute;
  right: 2.5vw;
  bottom: 2.5vw;
  padding: 3.4375vw;
  background-color: #ffffff;
}

.location-modal img {
  margin-right: 2.25vw;
  width: 1.25vw;
  height: 1.25vw;
}

.location-modal__item {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5625vw;
  color: #6b7a99;
}

.location-modal__item:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
}

.location-modal__item:last-child span:first-child {
  color: #C3CAD9;
}

.location-modal__item span + span {
  margin-left: 0.9375vw;
}

.social {
  text-align: center;
  padding-bottom: 7.8125vw;
}

.social .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social .slick-prev.slick-arrow,
.social .slick-next.slick-arrow {
  position: absolute;
  left: 0;
  top: -13.125vw;
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
          box-shadow: 0px 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
  font-size: 0;
  background: #ffffff url("../img/arrow.svg") center center no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.social .slick-next.slick-arrow {
  left: auto;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.social .title {
  margin-bottom: 10.3125vw;
}

.social-item {
  position: relative;
  padding: 0.9375vw;
}

.social-item__link {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7.5vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:hover .social-item__link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.footer {
  padding: 5.625vw 0 0;
}

.footer__rights {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7d8fb3;
}

.footer__bottom {
  padding: 3vw 0 2.625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__bottom ul li {
  margin-left: 3.4375vw;
}

.footer__bottom ul a {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7d8fb3;
}

.footer__logo {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 1.875vw;
  color: #4d5e80;
  margin: 0;
}

.footer__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__reviews span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 1.875vw;
  color: #7d8fb3;
  margin-right: 1.25vw;
}

.footer__rating {
  margin-bottom: 1.25vw;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.footer-list__item {
  width: 33.33%;
  margin-bottom: 1.25vw;
}

.footer-list__link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7d8fb3;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.0625vw;
}

body {
  margin: 0;
  font-family: "SF Pro Display";
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

ul,
h1,
h2,
p,
div,
span {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 69.375vw;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg-text {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 12.5vw;
  line-height: 13.75vw;
  z-index: -1;
  color: #002881;
  opacity: 0.03;
}

.pink-btn {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.95312vh;
  padding: 0.48828vh 1.66016vh;
  background: rgba(230, 46, 123, 0.1);
  border-radius: 2.92969vh;
  color: #e62e7b;
  text-decoration: none;
  text-align: center;
}

img {
  max-width: 100%;
}

.title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 5.85938vh;
  position: relative;
  margin: 4.0625vw 0 4.0625vw;
  color: #4d5e80;
}

.title__bg-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 12.5vw;
  line-height: 13.75vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  color: #002881;
  opacity: 0.03;
}

.text {
  display: inline-block;
  width: 40vw;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875vw;
  line-height: 1.875vw;
  padding-bottom: 4.375vw;
  color: #7d8fb3;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.badge {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.25vw;
  border: none;
  outline: none;
  border-radius: 1.875vw;
  padding: 0.3125vw 0.75vw;
}

.badge_orange {
  color: #f36333;
  background-color: rgba(255, 102, 51, 0.1);
}

.badge_pink {
  background: rgba(230, 46, 123, 0.1);
  color: #e62e7b;
}

hr {
  margin: 0;
  border-color: #EDEFF2;
}

@media screen and (max-width: 1024px) {
  .col-3, .col-4, .col-6 {
    width: 100%;
  }
  .container {
    max-width: 100%;
    padding: 0 vmin;
  }
}
/*# sourceMappingURL=index.css.map */